@font-face {
  font-family: "vazir";
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/Vazirmatn-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "vazir";
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/Vazirmatn-Bold.woff2) format(woff2);
}
html {
  font-size: 62.5%;
}
body,
button,
input,
textarea {
  font-family: "vazir";
}
